<li class="item-reference item {{#if item.missing}}missing{{/if}}" data-item-uuid="{{item.uuid}}">

  <label><img src="{{item.img}}"> {{item.name}}</label>

  <span class="buttons">
    {{#unless item.missing}}<a data-action="refEdit" data-tooltip="WW.CharOption.Reference.EditRef"><i class="fa-solid fa-edit"></i></a>{{/unless}}
    <a data-action="refRemove" data-tooltip="WW.CharOption.Reference.RemoveRef"><i class="fa-solid fa-trash"></i></a>
  </span>

</li>