<header class="journal-page-header">
  
  <h{{ this.title.level }} data-journal-page-uuid="{{ this.document.uuid }}">

    {{ this.name }}

    <span class="buttons">

      <a class="draggable" data-tooltip="WW.System.CharOptionDrag">
        <i class="fa-solid fa-arrows-up-down-left-right"></i>
      </a>

      <a data-action="embedInChat" data-tooltip="WW.System.Embed">
        <i class="fa-solid fa-scroll"></i>
      </a>

      <a data-action="linkInChat" data-tooltip="WW.System.Link">
        <i class="fa-solid fa-link"></i>
      </a>

    </span>

  </h{{ this.title.level }}>

</header>