<section class="tab changes{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">

  {{!-- Header Row --}}
  <h3>{{localize "WW.Effect.ToApply"}}
    <div class="controls">
      <button type="button" class="inline-control icon fa-regular fa-square-plus" data-action="addChange"></button>
    </div>
  </h3>
  
  <ol class="scrollable" data-changes>
    {{#each changes as |change|}}
      {{{ change }}}
    {{/each}}
  </ol>

</section>