
{{!-- Edit Mode Toggle Button --}}
<a class="item edit-mode" data-action="editModeToggle" data-tooltip="WW.System.Sheet.EditMode">
    <i class="fa-solid {{#if editMode}}fa-lock-open{{else}}fa-lock{{/if}}"></i>
</a>