
{{!-- Sheet Menu --}}
<a class="item sheet-menu" data-tooltip="WW.System.Sheet.Menu">
    <i class="fas fa-bars"></i>
    <i class="edit-mode-icon fas {{#if editMode}}fa-lock-open{{else}}fa-lock{{/if}}"></i>
</a>