<section class="tab{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    {{> "systems/weirdwizard/templates/items/automation/settings.hbs"}}
    <hr class="spear" />
    {{> "systems/weirdwizard/templates/items/automation/effects.hbs"}}
</section>