{{!-- Name Stripe --}}
<div class="name-stripe">

    {{!-- Item Name --}}
    <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize "WW.Item.Name"}}" /></h1>

</div>