<img class="profile-img" src="{{item.img}}" data-action="editImage" data-edit="img" data-tooltip="WW.System.EditImage"/>

<div class="profile-img-menu">
  <a data-action="showItemArtwork" data-tooltip="WW.Actor.ShowPortrait"><i class="fas fa-image-portrait"></i></a>

  {{#if token}}
  <a data-action="showTokenArtwork" data-tooltip="WW.Actor.ShowToken"><i class="fas fa-circle-user"></i></a>
  {{/if}}

</div>
