<form class="{{cssClass}} sheet equipment-sheet {{system.subtype}}" autocomplete="off">

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="details" data-tooltip="WW.Actor.Details"><span class="tab-icon"></span></a>
    <a class="item" data-tab="automation" data-tooltip="WW.Effects.TabLabel"><span class="tab-icon"></span></a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    
    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      {{> "systems/weirdwizard/templates/items/parts/Equipment-details.hbs"}}
    </div>
    
    {{!-- Automation Tab --}}
    <div class="tab automation" data-group="primary" data-tab="automation">
      {{> "systems/weirdwizard/templates/items/parts/item-settings.hbs"}}
      {{> "systems/weirdwizard/templates/items/parts/item-effects.hbs"}}
    </div>
  
  </section>
  
</form>