<form class="{{cssClass}} sheet talent-sheet {{system.subtype}} {{#if system.magical}}magical{{/if}}" autocomplete="off">

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="details" data-tooltip="WW.Actor.Details"><img src="{{tab.icon}}"></a>
    <a class="item" data-tab="automation" data-tooltip="WW.Effects.TabLabel"><img src="{{tab.icon}}"></a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      {{> "systems/weirdwizard/templates/items/parts/Talent-details.hbs"}}
    </div>
  
    {{!-- Automation Tab --}}
    <div class="tab automation" data-group="primary" data-tab="automation">
      {{> "systems/weirdwizard/templates/items/parts/item-settings.hbs"}}
      {{> "systems/weirdwizard/templates/items/parts/item-effects.hbs"}}
    </div>

  </section>

</form>