<img class="profile-img" src="{{img}}" data-edit="img" />

<div class="profile-img-menu">
  <a class="profile-show" data-action="show-portrait" data-tooltip="WW.Actor.ShowPortrait"><i class="fas fa-image-portrait"></i></a>

  {{#if token}}
  <a class="profile-show" data-action="show-token" data-tooltip="WW.Actor.ShowToken"><i class="fas fa-circle-user"></i></a>
  {{/if}}
  
  {{#if (eq actor.type 'NPC')}}
  <a class="item-button" data-action="attribute-roll" data-key="luck" data-tooltip="WW.Roll.Luck"><i class="fas fa-clover"></i></a>
  {{/if}}
</div>