<img class="profile-img" src="{{img}}" data-edit="img"
data-tooltip="WW.System.Image.EditShow" />
<div class="profile-menu hidden">
  <a class="profile-show" id="showPortrait">{{localize 'WW.System.Image.Show'}}</a>
  {{#if token}}
  <a class="profile-show" id="showToken">{{localize 'WW.System.Image.ShowToken'}}</a>
  {{/if}}
</div>